<div class="set-margin">
  <div class="center-search">
    <span>
      <form>
        <mat-form-field class="input-full-width">
          <mat-label class="input-align-center">User name</mat-label>
          <input
            class="input-align-center"
            type="text"
            matInput
            [formControl]="userFormControl"
            [errorStateMatcher]="matcher"
            placeholder="Ex. Microsoft"
          />
          <mat-error
            class="input-align-center"
            *ngIf="userFormControl.hasError('required')"
          >
            User Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </span>
    <span>
      <button
        mat-button
        [disabled]="!userFormControl.valid"
        (click)="searchUserRepos()"
      >
        <mat-icon matSuffix>search</mat-icon>
      </button>
    </span>
  </div>

  <div *ngIf="errorStatus == 0; else showError">
    <div>
      <mat-paginator
        [length]="reposCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onChangePage($event)"
      >
      </mat-paginator>
    </div>

    <div
      *ngFor="let repo of repos"
      fxLayout="row wrap"
      fxLayoutGap="16px grid"
    >
      <div>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title
              ><a>{{ repo.name }}</a></mat-card-title
            >
            <mat-card-subtitle>
              Updated at {{ repo.updated_at | date }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div>
              <div>
                <div>
                  <div>
                    <span> Stars: {{ repo.stargazers_count }} </span>
                    <span> Forks: {{ repo.forks }} </span>
                    <span> Issues: {{ repo.open_issues_count }} </span>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <ng-template #showError>
    <div *ngIf="errorStatus == 404" class="center">
      <h2>
        Fetching data resulted in error: {{ errorStatus }} (User has not been
        found!)
      </h2>
    </div>

    <div *ngIf="errorStatus != 404" class="center">
      <h2>Fetching data resulted in error: {{ errorStatus }}</h2>
    </div>
  </ng-template>
</div>
