.set-margin {
  margin-top: 1em;
}

.input-align-center {
  text-align: center;
}

@media (max-width: 599px) {
  .input-full-width {
    width: 100%;
  }
  .mat-button {
    width: 100%;
  }
}
@media (min-width: 600px) {
  .center-search {
    display: flex;
    justify-content: center;
  }
}
.card {
  margin-bottom: 2em;
}

:host ::ng-deep.mat-paginator .mat-paginator-container {
  display: flex;
  justify-content: center;
  padding: 0px;
}
